{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="admin_dashboard">
  <button class="signout-btn">⎋</button>
  <h2>Hello Admin!</h2>
  <p>Manage Users, Organizations, and Monitor the entire system.</p>
  <div class="button-container">
    <a href="{{ url_for('admin_results') }}" class="btn">View Results</a>
    <a href="{{ url_for('voter_list_page') }}" class="btn">View Voter List</a>
    <a href="{{ url_for('candidate_list_page') }}" class="btn">View Organizations</a>
  </div>
</div>
{% endblock %}


