<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}CryptoVoting{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo">CryptoVoting</a></div>
      <div>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('welcome') }}">About</a>
        <a href="{{ url_for('complaints') }}">Complaints</a>
      </div>
    </nav>

    <!-- Content -->
    <main class="content">
      {% block content %}AS{% endblock %}
    </main>
    

    <!-- Footer -->
    <footer>
      <p>© 2025 CryptoVoting | Secure Digital Elections</p>
    </footer>
  </div>
  <script src="/static/js/script.js"></script> 
</body>
</html>
    